name: Deploy Frontend to Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy frontend container to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "velogmag-frontend"                 # NOM de ton App Service pour le frontend
          publish-profile: ${{ secrets.AZURE_FRONTEND_PUBLISH_PROFILE }}
          images: "DOCKERFILE=frontend/Dockerfile"
